<!---Ability to Add Class. Select Time, select dates, and input grade-->


<html lang = "en-us">

    <head>

    <title> Add to Schedule </title>

    <meta charset = "utf-8">

    </head>

    <body>

        <form action = "/addToSchedB"
              method = "post">

            <label> Class </label>
            <input type = "text"
                   id = "class input"
                   name = "class"/>

            <label> Time </label>
            <input type = "time"
                   id = "time input"
                   name = "time"/>

            <label> Days </label>
            <input type = "text"
                   id = "days input"
                   name = "days"/>

            <label> Location </label>
            <input type = "text"
                   id = "location input"
                   name = "location"/>

            <button type = "submit">

                Save

            </button>




        </form>

    </body>

</html>