<html lang = "en=us">

    <head>

        <meta charset = "utf-8"/>

        <style type = "text/css">

            h1{

                text-decoration: underline;
                text-align: center;

            }

            button{

                width: 800px;
                margin: auto;
                background-color: lightgrey;
                display: grid;
                padding: 18px 2px;
                grid-template-columns: 1fr;
            }

        </style>

    </head>

    <body>

        <h1> Movies and Games </h1>

        <form>

            <button type = "button"
                    onclick = "document.location.href = '/moviesMain'">

                Movies

            </button>

            <button type = "button"
                    onclick = "document.location.href = '/gamesMain'">

                Games

            </button>

        </form>

    </body>



</html>