<html lang = "en-us">

<head>

<title> Scheduler </title>

<meta charset = "utf-8"/>
<style type = "text/css">

    h1{ text-align: center;
        text-decoration: underline;}

    p{  text-align: center;}

form{  width: 200px;
       margin: auto;
       display: grid;
       padding: ;
       grid-template-columns: 1fr 2fr;}

label{grid-column: 1/2;
      text-align: right

}

input{grid-column: 2/2:}









</style>

</head>

<body>

    <h1> School Schedular and Grade Calculator </h1>
    <p> Please Log In to Continue</p>

    <form action = "/loginTest"
          method = "post">

        <label> Username </label>
        <input type = "text"
               name = "user"/>

        <label> Password </label>
        <input type = "password"
               name = "pass"/>

        <button type = "submit">

            Enter

        </button>

    </form>

<p> this webside uses cookies </p>

</body>

</html>