<!--Select which class to remove-->


<%

#python code

display = c.execute("SELECT ID, class FROM Schedule")

%>



<html lang = "en-us">

    <head>

        <title> Delete Class </title>
        <meta charset = "utf-8"/>

    </head>

    <body>

        <h1> Select Class to Delete </h1>

        <button type = "button"
                onclick = 'document.location.href = "/mainPage"'>

               Go Back

        </button>

        <form action = "confirmDelete"
              method = "post"/>


              <select name = "identify">

                  %for record in display:
                  <option value = "{{record[0]}}">

                      {{record[1]}}

                  </option>
                  %end
              </select>

</br>

              <button type = "submit">

                  Enter

              </button>

</form>
    </body>

</html>