<%

#display the grades

display = c.execute("SELECT * FROM Schedule")

%>


<html lang = "en-us">

    <head>

        <title> Your Schedule </title>
        <meta charset = "utf-8" />

    </head>

    <body>

        <h1> Your Schedule </h1>

        <table>

            <tr>

                <th> ID </th>
                <th> Class </th>
                <th> Time </th>
                <th> Days </th>
                <th> Location </th>


            </tr>

            %for record in display:

            <tr>

                <td> {{record[0]}} </td>
                <td> {{record[1]}} </td>
                <td> {{record[2]}} </td>
                <td> {{record[3]}} </td>
                <td> {{record[4]}} </td>

            </tr>
            %end

        </table>


        <button type = "button"
                onclick = "document.location.href = '/mainPage'">

            Return to Menu

        </button>

    </body>

</html>
